workout.tunikb.com {
  handle /api/* {
    reverse_proxy api:3000
  }
  handle {
    root * /srv/frontend
    try_files {path} /index.html
    file_server
  }
}

dienstplan.tunikb.com {
  handle /api/* {
    reverse_proxy dienstplan-api:3002
  }
  handle {
    root * /srv/dienstplan
    try_files {path} /index.html
    file_server
  }
}

diary.tunikb.com {
  handle /api/* {
    reverse_proxy diary-api:3003
  }
  handle {
    respond "diary" 200
  }
}

paperless.tunikb.com {
  reverse_proxy paperless-web:8000
}
